.text-primary {
  color: #54426B; /* Ubah dengan warna yang diinginkan */
}

.text-secondary {
  color: #E9F1F7; /* Ubah dengan warna yang diinginkan */
}

.shadow {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); /* offsetX offsetY blurRadius color */
}

.table-custom th,
  .table-custom td {
    color: #FFFFFF; /* Warna teks putih */
    padding: 8px; /* Padding 8px */
  }


.background-primary{
background-color: #623CEA;
}
.bg-secondary{
color: #E7DFC6
}

.experience {
  text-align: center;
  max-width: 300px;
}

.experience img {
  width: 100%;
  border-radius: 10px;
}

.description {
  margin-top: 10px;
  width: 100%; /* Tambahkan baris ini */
  box-sizing: border-box; /* Tambahkan baris ini */
}

.description h3 {
  font-size: 1.2em;
}

.description p {
  font-size: 0.9em;
  margin: 0; /* Tambahkan baris ini */
}

.footer {
  background: #623CEA;
  /* Ganti warna dengan yang diinginkan atau gunakan nilai heksadesimal / rgb() */
  color: #fff; /* Warna teks */
  padding: 20px;
  text-align: center;
}

